# AS5047 Angular position sensor configuration option

# Copyright (c) 2022, Felipe Neves.
# SPDX-License-Identifier: Apache-2.0

config AMS_AS5047
	bool "AS5047 Angular position sensor"
	default y
	depends on DT_HAS_AMS_AS5047_ENABLED
	select SPI
	help
	  Enable driver for AS5047 Angular position sensor.
