
      
config MOTOR_LIB_LOG_LEVEL
	int "Motor lib log level"
	default 1
	range 0 4
	help
	  Set log level for motor lib.

config MOTOR_INIT_PRIORITY
	int "Motor control device initialization priority"
	range 0 99
	default 99
	help
	  Initialization priority for motor control devices (lower value = earlier init).
	  Must be higher than dependent devices (FOC/PWM/Feedback).

config FOC_INIT_PRIORITY
	int "FOC algorithm initialization priority" 
	range 0 98
	default 98
	help
	  Initialization priority for FOC control algorithms.
	  Must be higher than PWM/current sampling devices.


# 调试说明：
# MOTOR_DEBUG_MODE总开关,对电流环进行调试
# 新电机的调试顺序：
#	1、开启MOTOR_DEBUG_SELFLOOPMODE，电机自开环，校准编码器
#	2、开启MOTOR_DEBUG_ENCODERMODE，验证相电流
#	3、开启MOTOR_DEBUG_TORQUE_PID，调试电流环D轴PID
#	4、开启SPEEDLOOP_DEBUG，调试速度环PID
		# a.空载额定转速的0～50%～100%来进行调试
config MOTOR_DEBUG_MODE
	bool "Enable motor debug mode"
	default n
	help
	  Enable motor debug mode for testing purposes

choice
	prompt "Debug mode selection"
	depends on MOTOR_DEBUG_MODE
	default MOTOR_DEBUG_SELFLOOPMODE
	
config MOTOR_DEBUG_ENCODERMODE
	bool "Encoder debug mode"
	help
	  Use encoder angle for debugging
config MOTOR_DEBUG_TORQUE_PID
	bool "Self-loop debug mode"
	help
	  Use internal angle generator for debugging	
config MOTOR_DEBUG_SELFLOOPMODE
	bool "Self-loop debug mode"
	help
	  Use internal angle generator for debugging
endchoice

# 对速度环进行调试
# 请确保MOTOR_DEBUG_MODE为关闭状态
choice
	prompt "Speed-loop algorithm"
	default SPEEDLOOP_S_SPEEDPLAN

config SPEEDLOOP_S_SPEEDPLAN
	bool "S-curve speed planning"

config SPEEDLOOP_DEBUG
	bool "Debug speed mode (no S-planning)"
endchoice