config PWM_LOG_LEVEL
	int "Pwm log level"
	default 1
	range 0 4
	help
	  Set log level for pwm driver.

config PWMX_STM32_INIT_PRIORITY
        int "PWM driver initialization priority"
        range 0 96
        default 96  
        help
          Initialization priority for STM32 PWM drivers.
          Must initialize before current sampling/FOC.

config USER_USE_STM32_HAL_TIM
	bool "stm32 hal adc"
	select USE_STM32_HAL_TIM_EX
	select USE_STM32_HAL_TIM
	select USE_STM32_HAL_GPIO_EX
	select USE_STM32_HAL_GPIO
	select USE_STM32_HAL_CORTEX
	help
	   Temp Start STM32 HAL Lib 	  