config FEEDBACK_LOG_LEVEL
	int "Feedback log level"
	default 1
	range 0 4
	help
	  Set log level for feedback driver.

config FEEDBACK_INIT_PRIORITY
        int "Feedback sensor initialization priority"
        range 0 97  
        default 97
        help
          Initialization priority for motor feedback sensors (encoders/hall).
          Must initialize before FOC/motor control.

config MOTOR_SUPER_ABZHALL_400W
	bool "SPUER_400 (400W brushless)"
	depends on MOTORLIB_ENABLE      
	default y if MOTORLIB_ENABLE   
	help
	  400W brushless motor with encoder
	  
config ENCODER_TYPE_AS5047
    bool "Encoder type"
    default n  # 默认禁用
    help
      Enable motor control library